@font-face {
    font-family: Roboto-Regular;
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Italic;
    src: url(assets/fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto-Black;
    src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
}
.App{
    font-family: Roboto-Regular;
    width: 100vw;
}
/**      -       HEADER      -    */
.header{
    height: 95vh;
    width: 100vw;
    background: url(assets/images/wineyard.jpg) no-repeat bottom;
}
.nav{
    width: 100vw;
    font-family: Roboto-Bold, 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin: 0px;
}
.nav-left{
    list-style: none;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-item{
    background-color: #36CE00;
    padding: 5px;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.nav-item:hover{
    transform: scale(1.05);
}
.commander{
    background-color: #FFF500;
    padding: 5px;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
    color: black;
    cursor: pointer;
}
.commander:hover{
    transform: scale(1.05);
}
.title-bloc{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 275px;
    width: 275px;
    border-radius: 100%;
}
h1{
    font-size: 50px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}


/**      -       A PROPOS      -    */


#apropos{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.largeur{
    width: 70vw;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.qui{
    margin-top: 20px;
}
.intro{
    height: 60vh;
    width: 70%;
    padding: 0px 10px;

    background-color: #B4FFA8;
    border-radius: 5px;
}
.premiere-ligne{
    font-family: Roboto-Bold;
}
.image{
    height: 60vh;
    width: auto;
    border-radius: 5px;
}
.degustation{
    margin: 0px 0px 0px 5px;
}
.map{
    margin: 0px 5px 0px 0px;
}


/**      -       PRODUCTS      -    */


#products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.triangle{
    position: relative;
    border-radius: 0px 5px;
}
.stock{
    font-family: Roboto-Black;
    font-size: 1.5em;
    color: white;
    
    z-index: +1;
    width: 50px;
    position: absolute;
    right: 25px;
    top: -5px;
}
.photo-produit{
    height: 30vh;
    width: auto;

    border-radius: 5px;
    margin: 10px;
}
.top-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.demi-produit{
    border: 1px solid black;
    border-radius: 6px;
    width: 49%;
}
h2, h3{
    display: flex;
    justify-content: center;
}
h2 {
    margin: 40px;
}
.product-title{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: -150px;
    left: 70px;
}
.product-title>h4{
    margin-bottom: 10px;
}
.product-info{
    position: relative;
    bottom: 20px;
}
.product-description{
    display: flex;
    justify-content: center;
}
.product-price{
    display: flex;
    justify-content: center;
}
.product-price-content{
    border: 1px solid black;
    padding: 10px 25px;
    margin: 20px;

    background-color: #FFDAA3;
    border-radius: 5px;
    font-family: Roboto-Bold;
}
.full-produit{
    border: 1px solid black;
    border-radius: 6px;

    margin: 20px 0px;
}
.full-product-title{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: -150px;
}
.photo-full-produit{
    height: 45vh;
    width: auto;

    border-radius: 5px;
    margin: 10px;
}
.clairet{
    margin: 20px;
}
.fond-rouge{
    background-color: #9A0000;
    border-radius: 6px;
    padding: 10px 40px;
    color: white;
    font-size: 1.5em;
}
.fond-rouge>h3{
    display: block;
}
.ligne-livraison{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/**      -       COMMANDER      -    */


#commander{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    height: 40vh;
}
#commander form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-item{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
}
.form-item label,input,select{
    width: 20%;
}
.form-item input,select{
    border: 1px solid black;
    border-radius: 3px;
    height: 25px;
}
.number, .liste-produit{
    text-align: center;
}
.add-product{
    display: inline-block;
    background-color: #1A5AFF;
    color: white;
    padding: 10px;
    border-radius: 6px;
}
.btn-envoyer{
    height: 100px;
    width: 300px;

    margin: 15px 0px;
    border: none;
    border-radius: 6px;
    background-color: #36CE00;

    font-family: Roboto-Bold;
    color: white;
    font-size: 1.75em;
}